<!<!DOCTYPE html>
<html>
    
    <head>
      <title>Whatsapp Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/style.css">      
      <link rel="stylesheet" href="https://rawgit.com/marvelapp/devices.css/master/assets/devices.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
      </script>
    </head>
    <body>

        <div class="page">
            <div class="marvel-device nexus5">
              <div class="top-bar"></div>
              <div class="sleep"></div>
              <div class="volume"></div>
              <div class="camera"></div>
              <div class="screen">
                <div class="screen-container">
                    <div class="status-bar">
                      </div>
                  <div class="chat">
                    <div class="chat-container">
                      <div class="user-bar">
                        
                        <div class="name">
                          <span>Random</span>
                        </div>
                       
                      </div>
                      <div class="conversation">
                        <div class="conversation-container">
        
                        </div>
                        <div class="conversation-compose">
                          <div class="emoji">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209">/></svg>
                          </div>
                          <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus></input>
                          <button class="send">
                              <div class="circle">
                                <i class="zmdi zmdi-mail-send"></i>
                              </div>
                            </button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script type="text/javascript" src="script/script.js"></script>          
    </body>
    </html>