<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>



<div class="menu">
            <div class="name">Random Chat</div>
	<!-- <div class="members"><b>You</b>, Marga, Charo & Brotons</div> -->
        </div>
        <div class="scroll">
    <ol class="chat">
    <!-- <li class="other">
      <div class="msg">
          <div class="user">Marga<span class="range admin">Admin</span></div>
        <p>Dude</p>
        <p>Want to go dinner? <emoji class="pizza"></emoji></p>
        <time>20:17</time>
      </div>
    </li>
    <li class="self">
      <div class="msg">
        <p>Puff...</p>
        <p>I'm still doing the Góngora comment... <emoji class="books"></emoji></p>
        <p>Better other day</p>
        <time>20:18</time>
      </div>
    </li> -->
    
    </ol>
  </div>
<div class="typezone">
<textarea type="text" placeholder="Say something" class="message-input"></textarea><input type="submit" class="send message-submit" value=""/>
<!-- <div class="emojis"></div> -->
</div>
<script type="text/javascript" src="script/script.js"></script>
</body>
</html>